/bzip2
/fontconfig
/freetype2
/fribidi
/game-music-emu
/gnutls
/lame
/libass
/libbluray
/libcdio
/libcdio-paranoia
/libiconv
/libgcrypt
/libilbc
/liblzma
/libssh
/libxml2
/libvpx
/mfx_dispatch
/modplug
/opus
/sdl
/soxr
/speex
/theora
/vorbis
/x264
/x265
/xvid
/zlib
/gmp
/harfbuz
/libgpg-error
/nettle
/ogg
/harfbuzz
*.zip
