/source/bzip2
/source/fontconfig
/source/freetype2
/source/fribidi
/source/game-music-emu
/source/gnutls
/source/lame
/source/libass
/source/libbluray
/source/libcdio
/source/libcdio-paranoia
/source/libiconv
/source/libgcrypt
/source/libilbc
/source/liblzma
/source/libssh
/source/libxml2
/source/libvpx
/source/mfx_dispatch
/source/modplug
/source/opus
/source/sdl
/source/soxr
/source/speex
/source/theora
/source/vorbis
/source/x264
/source/x265
/source/xvid
/source/zlib
